<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Example 5: Filters</title>
</head>
<body>
    <div id="vue-app">
        <h1>{{ heading }}</h1>
        <p>
            {{ message }}
        </p>
        <div v-if="clickCounter < 5" >
            <button v-on:click="buttonClick()">Click Me</button>
            Clicked {{ clickCounter }} times.
        </div>
        <div v-else-if="clickCounter < 8" >
            <button v-on:click="buttonClick()">Click Carefully</button>
            Clicked {{ clickCounter }} times.
        </div>
        <div v-else>
            Sorry. You already clicked too many times.
        </div>

        <ul>
            <li v-for="(item, index) in items" v-on:click="removeClick(index)">
                {{ index }}: {{ item | date }}
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#vue-app',

            data: function() {
                return {
                    heading: 'Click Counter',
                    message: 'This component shows how many time you clicked on the button',
                    clickCounter: 0,
                    items: []
                }
            },

            filters: {
                date: function (value) {
                    var date = new Date(value); // create new instance of Date object from the given ISO string
                    return date.toLocaleString(); // and return date&time formatted according to user language settings
                }
            },

            methods: {

                buttonClick: function() {
                    this.clickCounter++;
                    var now = new Date();  // create new Date object instance
                    this.items.push(now.toISOString());  // and push ISO string to items
                },

                removeClick: function(index) {
                    this.clickCounter--;
                    this.items.splice(index, 1);
                }
            }
        });
    </script>
</body>
</html>